<section class='Program_Select'>
  <% if params[:program] == 'JOAV_MIX-MACHINE' %>
    <%= image_tag('https://d1tr04ubbr03km.cloudfront.net/Images/JOAV_GROOVE-LINE.webp') %>

    <h1 class='Program_Select--Title'>② 再生方法を選択してください。</h1>
    <%= link_to('全曲 シャッフル再生', players_path(program: 'JOAV_MIX-MACHINE', play: 'shuffle_play'), class: 'Program_Select--Link') %>
    <%= link_to('最新 1ヶ月放送分', players_path(program: 'JOAV_MIX-MACHINE', play: 'one_month'), class: 'Program_Select--Link') %>
    <%= link_to('過去 3ヶ月放送分', players_path(program: 'JOAV_MIX-MACHINE', play: 'three_months'), class: 'Program_Select--Link') %>

  <% elsif params[:program] == 'JODV_FAV-FOUR' %>
    <%= image_tag('https://d1tr04ubbr03km.cloudfront.net/Images/JODV_FAV-FOUR.webp') %>
    <h1 class='Program_Select--Title'>② 放送日を選択してください。</h1>

    <% @programs.each do |program| %>
      <div class='Program_Select__Date'>
        <%= link_to(Date.parse(program[:date]).strftime('%Y年 %m月 %d日 %A').sub(/Wednesday/, '水曜日'), players_path(program: 'JODV_FAV-FOUR', key: program[:key]), class: 'Program_Select__Date--Link') %>
        <% already = Program.readonly.find_by(s3_key: program[:key]) %>
        <% if already.present? && already.already_play == 1 %>
          <span class='Program_Select__Date--Badge'>再生済</span>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <h1 class='Program_Select--Title'>① 番組を選択してください。</h1>
    <%= link_to('MIX MACHINE From. GROOVE LINE', program_selects_path(program: 'JOAV_MIX-MACHINE'), class: 'Program_Select--Link') %>
    <%= link_to('FAV FOUR', program_selects_path(program: 'JODV_FAV-FOUR'), class: 'Program_Select--Link') %>
  <% end %>
</section>
