<section class='Radio_Player'>
  <p class='Tag_Program'><%= @program.category.name %></p>
  <%= image_tag(@image_url, class: '') %>
    <p class='Tag_Date'>
    ■ 放送日：<%= @program.on_air.strftime('%Y年 %m月 %d日') %>
  </p>

  <%= audio_tag(@audio_url, onended: "location.href='/program_selects/#{session[:play_lists].shift}';", class: '', autoplay: true, controls: true) %>

  <p class='Remain_Songs'>
    残り <span class='Remain_Songs--Big_Font'><%= session[:play_lists].length %></span>曲です。
    <%#= link_to('次の曲へ ▶', piston2438_player_path(id: session[:play_list][0]), class: 'Remain_Songs--Btn_Next') %>
  </p>
</section>
