<section class='Radio_Player'>
  <section class='Radio_Player__Menu'>
    <p class='Radio_Player__Menu__Date'>
      <% if @program.already_play == 0 %>
        <span class='Radio_Player__Menu__Date--Badge'>未聴取</span>
        <%= @program.on_air.strftime('%Y年 %m月 %d日') %>
      <% elsif @program.already_play == 1 %>
        <span class='Radio_Player__Menu__Date--Badge'>再生済</span>
        <%= @program.on_air.strftime('%Y年 %m月 %d日') %>
      <% end %>
    </p>

    <% if @program.already_play == 0 %>
      <%= form_with(url: "/program_selects/#{params[:id].to_i}/play", class: 'Radio_Player__Menu__Played', method: :post, local: true) do |form| %>
        <%= form.submit('再生済み', class: 'Radio_Player__Menu__Played--Submit') %>
      <% end %>
    <% elsif @program.already_play == 1 %>
      <%= form_with(url: "/program_selects/#{params[:id].to_i}/play", class: 'Radio_Player__Menu__Played', method: :delete, local: true) do |form| %>
        <%= form.submit('未再生に戻す', class: 'Radio_Player__Menu__Played--Submit') %>
      <% end %>
    <% end %>
  </section>

  <%= image_tag(@image_url) %>
  <%= audio_tag(@audio_url, autoplay: false, controls: true) %>

  <section class='Radio_Player__Menu-Link'>
    <%= link_to('番組選択に戻る', program_selects_destroy_path, method: :delete, class: 'Radio_Player__Menu-Link--Button') %>
    <%= link_to('放送日選択に戻る', program_selects_path, class: 'Radio_Player__Menu-Link--Button') %>
  </section>
</section>
