<section class='Piston2438_DJ-MIX'>
  <%= image_tag(@image_url) %>
  <h1 class='Piston2438_DJ-MIX--Title'>② 再生方法を選択してください。</h1>

  <%= form_with(url: piston2438_players_path, class: 'Piston2438_Form', method: :post, local: true) do |form| %>
    <%= form.radio_button(:play_method, '全曲シャッフル再生') %> 全曲シャッフル再生<br />

    <%= form.radio_button(:play_method, '期間指定') %> 放送日を指定して再生<br />
    <%= form.date_select(:start_date, use_month_numbers: true, use_two_digit_numbers: true, date_separator: '-', start_year: 2020, end_year: 2021, discard_day: true) %>〜
    <%= form.date_select(:end_date, use_month_numbers: true, use_two_digit_numbers: true, date_separator: '-', start_year: 2020, end_year: 2021, discard_day: true) %>

    <%= form.submit('再生開始', class: 'Piston2438_Form--Submit') %>
  <% end %>
</section>
