<section class='DJ-MIX_Player'>
  <p class='Tag_Program'><%= @program.category.name %></p>
  <%= image_tag(@image_url, class: 'DJ-MIX_Player--Image') %>
  <p class='Tag_Date'>
    ■ 放送日：<%= @program.on_air.strftime('%Y年 %m月 %d日') %>
  </p>

  <%= audio_tag(@audio_url, onended: "location.href='/piston2438_players/#{session[:play_list][0]}';", class: 'DJ-MIX_Player--Audio', autoplay: true, controls: true) %>

  <p class='Remain_Songs'>
    残り <span class='Remain_Songs--Big_Font'><%= session[:play_list].length %></span>曲です。
    <%#= link_to('次の曲へ ▶', piston2438_player_path(id: session[:play_list][0]), class: 'Remain_Songs--Btn_Next') %>
  </p>
</section>
