<!DOCTYPE html>
<html>
  <head>
    <title>RadioArchives</title>
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css' integrity='sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==' crossorigin='anonymous' referrerpolicy='no-referrer' />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if request.fullpath == '/user/sessions' %>
        <aside class='Login_Note'>※ ログインしてください ※</aside>
      <% else %>
        <div class='Header_Menu'>
          <% if request.fullpath == '/' %>
            <%= link_to('ログアウト', session_path(id: cookies.signed[:user]['id']), class: 'Logout_Btn', method: :delete) %>
          <% elsif request.fullpath == '/user/registrations/new' %>
            <%= link_to('ログイン', sessions_path, class: 'Logout_Btn') %>
          <% elsif request.fullpath == '/user/registrations' %>
            <%= link_to('ログイン', user_registrations_destroy_path, class: 'Logout_Btn', method: :delete) %>
          <% else %>
            <%= link_to('番組選択へ戻る', program_selects_path, class: 'Logout_Btn') %>
          <% end %>
        </div>
      <% end %>
    </header>
    <section id='Contents'>
      <%= yield %>
    </section>
  </body>
</html>
